<!doctype html>
<html lang="en">
<head>
    <title>Timelapse</title>
    <link rel="stylesheet" href={{ url_for('static', filename='styles/basic.css') }}>
    <script src={{ url_for('static', filename='js/dir_watch.js') }}></script>
</head>
<body>
    <div id="content-container">

        <div id="frames-container">

            {% for frame in frames %}
                <div class="frame-thumb-container">
                    <img class="frame-thumb" src={{frame.url}} alt={{frame.number}}>
                    <div class="frame-number"><p>{{frame.number}}</p></div>
                </div>
            {% endfor %}

        </div>

        <div id="video-container">
            <video id="preview-player" muted autoplay loop controls> 
                <source src={{video_preview}} type="video/{{preview_fmt}}">
            </video>
            <div id="buttons-container">

                <a href="#" title="Make a timelapse preview."><div id="make-preview-button">make preview</div></a>

                <div id="frames-dropdown-container" class="dropdown-container">
                    <label for="frame-count">frames:</label>
                    <select title="Use the last n frames." name="frame-select" id="frame-count">
                        <option value=15>15</option>
                        <option value=30>30</option>
                        <option value=60>60</option>
                        <option value=90>90</option>
                        <option value=120>120</option>
                    </select>
                </div> <!-- frames-dropdown-container -->

                <div id="fps-dropdown-container" class="dropdown-container">
                    <label for="fps">fps:</label>
                    <select title="Video frames per second." name="fps-select" id="fps">
                        <option value=5>5</option>
                        <option value=10>10</option>
                        <option value=15>15</option>
                        <option value=30>30</option>
                        <option value=60>60</option>
                    </select>
                </div> <!-- fps-dropdown-container -->

            </div> <!--buttons-container -->
        </div> <!--video-container -->

        <div id="timelapse-control-container" class="panel-right">
            <div class="panel-title">Timelapse Session</div>
            <div id="timelapse-controls" class="panel-controls">
                <a href="#" title="Start a new timelapse."><div id="start-timelapse-button">Start</div></a>
            </div> <!--timelapse-controls -->
        </div> <!--timelapse-control-container -->
    </div> <!--content-container -->
</body>
</html>
