:root {
    /* background colors */
    --ui-white: #fff;
    --ui-dark-0: #000;
    --ui-dark-panel: #28241e;
    --ui-panel-medium: #5d544b;
    --ui-dark-bg: #403a34;
    --ui-cream: #ffede2;
    --ui-light-text: #eee;
    --ui-seawater: #539888;
    --ui-seawater-dark: #3a7064;
    /* text colors */
    --ui-light-text: #eee;
    /* geometry */
    --ui-slight-radius: 0.1em;
    --ui-slight-shadow: 0px 1px 1px 1px #222;
}

body {
    font-family: "Courier New", Courier, monospace;
}

div {
    border-radius: var(--ui-slight-radius);
}

a {
    text-decoration: none;
}

div#content-container {
    background-color: var(--ui-dark-bg);
    float:left;
    padding:1em;
}

div#frames-container {
    padding: 0.5em;
    width: 40%;
    height: 50em;
    overflow-y: scroll;
    float: left;
    background-color: var(--ui-dark-panel);
}

div#video-container {
    width: 50%;
    min-width: 25em;
    overflow-x:scroll;
    float: right;
    margin-left: 1em;
    padding: 0.5em;
    background-color: var(--ui-dark-panel);
}

div#video-container video {
    width: 100%;
    height: 25em;
}

div#make-preview-button {
    background-color: var(--ui-white);
    color: var(--ui-dark-panel);
    border: 1px solid var(--ui-cream);
    text-align: center;
    padding: 0.25em;

    float: left;
    width: 10em;
//    margin-right: 1em;
}

div#make-preview-button::after {
    content: " \1F760";
}

div#make-preview-button:hover {
    background-color: var(--ui-seawater);
    border: 1px solid #fff;
    color: var(--ui-dark-0);
}

div#buttons-container {
    background-color: var(--ui-dark-0);
    display: block;
    overflow: auto;
    padding: 0.5em;
    border-radius: var(--ui-slight-radius);
    text-align: center;
    box-shadow: var(--ui-slight-shadow);
}

div#buttons-container div {
    border-radius: var(--ui-slight-radius);
    display: inline-block;
    float: none;
    box-shadow: var(--ui-slight-shadow);
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    
}

div#timelapse-control-container {
    background-color: var(--ui-dark-panel);
    width: 50%;
    min-width: 25em;
    float:right;
    padding: 0.5em;
    margin-top: 1em;
}

.dropdown-container {
    background-color: var(--ui-white);
    padding: 0.25em;
    text-align: center;
    border: 1px solid white;
    float: left;
    margin-left: 0.5em;
}

div.frame-thumb-container {
    background-color: var(--ui-cream);
    margin-bottom: 0.5em;
}

img.frame-thumb {
    width: 100%;
 
}

.frame-number {
    border-radius: 0em;
    color: var(--ui-cream);
    background-color: var(--ui-dark-0);
    font-size: 1em;
    font-weight: bold;
    padding-left: .25em;
    padding-top: .25em;
}

.frame-number p {
    margin: 0
}

